@font-face {
  font-family: "ambitregular";
  src: url("../fonts/ambit-regular-webfont.woff2") format("woff2"),
    url("../fonts/ambit-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-std: 1.3rem;
  --font-little: 1rem;

  --font-style-regular: 400;
  --font-style-bold: 600;

  --spacing-s: 15px;
  --spacing-m: 30px;
  --spacing-l: 50px;
  --spacing-xl: 70px;

  --border: 10px;

  --highlight: rgba(0, 0, 0, .20);
  --highlight-hover: rgba(0, 0, 0, .10);

  --transition-short: all .3s ease-in-out;
  --transition-long: all .6s ease-in-out;
}

html,
body,
div,
p {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: "ambitregular", sans-serif;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

body{
  background-color: lightslategray;
  font-size: var(--font-std);
}

/*/////////////// HOME /////////////////*/

.info {
  /*! height: 80px; */
  width: 74rem;
  max-width: 1000px;
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: var(--font-little);
  margin: 0 auto 0 auto;
}

.contact > a {
  margin-left: var(--spacing-s);
  border-radius: var(--border);
  padding: 15px 15px 12px 15px;
  transition: var(--transition-short);
  background-color: var(--highlight-hover);
}

.contact > a:hover {
  background-color: var(--highlight);
  cursor: pointer;
}


h1{
  font-size: 1.8rem;
  line-height: 0;
}

h2 {
  font-size: 2rem;
  margin-bottom: var(--spacing-s);
}

h3{
  font-size: 1.8rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}


/*/////////////// CARDS /////////////////*/


.contenu {
  max-width: 74rem;
  display: flex;
  margin: var(--spacing-l) auto var(--spacing-l) auto;
  height: calc(100vh - (2* var(--spacing-l)));
  flex-direction: column;
  justify-content: space-between;
}

.contenu > div >  p {
  max-width: 700px;
  margin: 0 auto var(--spacing-s) auto;
  width: 74rem;
}

.cards{
  height: 270px;
  padding: 0 var(--spacing-m) 0 var(--spacing-m);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: var(--spacing-m);
  aspect-ratio: 16 / 9;
  width: 100%;
}

.card {
  border-radius: var(--border);
  text-align: center;
  box-shadow: 0 0 10px 1px var(--highlight);
  transition: var(--transition-short);
}

.card:hover{
  transition: var(--transition-short);
}

#videoCard{
  background-image: url("../../img/render_3.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: darksalmon;
}

#parcoursCard{
  background-image: url("../../img/360_museo.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: khaki;
}

#imagesCard{
  background-image: url("../../img/render_1.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: olivedrab;
}


.filter {
  backdrop-filter: blur(15px);
  width: 100%;
  height: 100%;
  border-radius: var(--border);
  align-content: center;
  display: grid;
  transition: var(--transition-long);
  opacity: 1;
}

.filter:hover {
  cursor: pointer;
  transition: var(--transition-long);
}

/*/////////////// PROJECTS /////////////////*/

section {
  position: fixed;
  height: calc(100vh - (4 * var(--spacing-m)));
  width: 74rem;
  max-width: 74rem;
  top: var(--spacing-xl);
  left: 50%;
  overflow-y: scroll;
  padding: var(--spacing-m);
  background-color: rgba(181, 190, 199, 0.77);
  border-radius: var(--border);
  border: 1px solid rgba(255, 255, 255, .25);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
  backdrop-filter: blur(15px);
  transition: var(--transition-long);
  transform: translateX(-50%);

}

.hidden{
  top: 105vh !important;
  transition: var(--transition-long);
}

section > div{
  width: 100%;
  max-width: 750px;
  margin: 0 auto 0 auto;
}

section p{
  max-width: 700px;
  margin: 0 0 var(--spacing-m) 0;
}

.iframe, img {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: var(--border);
  margin-bottom: var(--spacing-m);
}

iframe {
  border-radius: var(--border);
}

.close {
  width: 20px;
  position: fixed;
  padding: 15px;
  box-sizing: content-box;
  border-radius: 50%;
  margin: 0;
  height: 20px;
  transition: var(--transition-short);
  background-color: var(--highlight-hover);
}

.close:hover {
  background-color: var(--highlight);
  cursor: pointer;
}